<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//RU">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmailVerifications</title>
</head>

<style>
	.headtext{
		font-size: 20pt;
	}
	.maintextstyle{
		font-size: 13pt;
	}
	.codestyle{
		font-size: 22pt;
		color: #5d90ef;
	}
	.secondtext{
		font-size: 10pt;
	}
</style>

<body>

    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
		<tr>
		  	<td align="center">
				<center style="max-width: 600px; width: 100%;">
					<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-radius: 15px; background: linear-gradient(45deg, #EECFBA, #C5DDE8);" width="100%">
						<tr style="height: 15px;"><td></td></tr>
						<tr>
							<td>
								<center><span class="headtext"><b>Здравствуйте, {{.Name}}!</b></span></center>
								<hr width="90%" align="center">	
							</td>
						</tr>
						
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 100%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="90%">
										<tr>
											<td>
												<span class="maintextstyle">Ваш код безопасности для подтверждения регистрации аккаунта.</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 15px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; min-width: 180; width: 60%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; border-radius: 15px; height: 70px; background-color: #edebeb; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);	" width="100%">
										<tr style="margin: 0 10 0 10;">
											<td>
												<center><span class="codestyle">{{.Code}}</span></center>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 15px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 90%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
										<tr>
											<td>
												<span class="secondtext">Запрос поступил с устройства:</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 15px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 90%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
										<tr>
											<td>
												<span class="secondtext">IP-адрес: {{.Aboutuser.IP4}}</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 2px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 90%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
										<tr>
											<td>
												<span class="secondtext">Название устройства: {{.Aboutuser.Device}}</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 2px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 90%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
										<tr>
											<td>
												<span class="secondtext">Страна/регион:  {{.Aboutuser.Region}}</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 2px;"><td></td></tr>
						<tr>
							<td align="center">
								<center style="max-width: 600px; width: 90%;">
									<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
										<tr>
											<td>
												<span class="secondtext">Время запроса: {{.Aboutuser.Datetime}}</span>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr style="height: 15px;"><td></td></tr>
					</table>
				</center>   
			</td>
		</tr>
	</table>

</body>
</html>